@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
// font-family: 'Poppins', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");
// font-family: 'Rubik', sans-serif;

$bg-color: #010101;
$color-yellow: #f0d800;
$color-gray: #d1cfcf;
$white: #fff;

a {
  text-decoration: none;
  color: $color-gray;
}

a:hover {
  color: $white;
}

main h1 {
  font-size: 3rem;
}

.h1-bold {
  font-weight: 600;
}

main h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.h2-highlight {
  color: $color-yellow;
}

main p {
  margin: 1rem 0;
  line-height: 28px;
  color: $color-gray;
}

.p-sm {
  font-size: 0.875rem;
  line-height: 22px;
}

body {
  background-color: $bg-color;
  font-family: "Poppins", sans-serif;
  color: $white;
  margin: 0 1rem;
}

header {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  align-items: center;
  color: $white;
}

.brand-icon {
  margin-right: 1rem;
}

.brand-name {
  font-weight: 500;
}

.brand-name > span {
  font-weight: 200;
}

.nav-link {
  font-size: 0.875rem;
  margin: 0 1rem;
  transition: color 200ms;
}

.web-nav {
  display: none;
}

.menu > a {
  overflow: hidden;
  font-size: 0.875rem;
  font-weight: 200;
}

.menu-button-container {
  height: 100%;
  width: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $color-yellow;
  position: absolute;
  height: 0.5px;
  width: 25px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu {
  position: absolute;
  margin-top: 40px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: $bg-color;
}

#menu-toggle ~ .menu a {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu a,
#menu-toggle:checked ~ .menu .entry {
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu > a {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.5em 0;
  width: 100%;
  color: $white;
}

.line {
  height: 0.5px;
  background-color: $white;
  margin: 1rem 0 1.5rem 0;
}

main {
  font-family: "Rubik", sans-serif;
  margin: 1.5rem 0;
}

.theme-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

.showcase-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.showcase-partners :not(:first-child) {
  margin-top: 2rem;
}

.partner {
  width: 70%;
}

.trending-strip > img {
  // aspect-ratio: 1 / 1;
  // object-fit: contain;
  // object-position: center;
  height: 100%;
  width: 100%;
}

@media (min-width: 769px) {
  .app-nav {
    display: none;
  }

  .web-nav {
    display: block;
  }
}
